- name: Add APT key
  apt_key:
    url: https://www.mongodb.org/static/pgp/server-4.2.asc
    state: present
- name: Add MongoDB repository
  apt_repository:
    repo: deb http://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/4.2 multiverse
    state: present
- name: Get MongoDB
  apt:
    name: mongodb-org
    state: present
    update_cache: yes
- name: Enable and start systemd service
  systemd:
    name: mongod
    enabled: yes
    state: started
